html,
body {
  height: 95vh;
  margin: 0;
}

body {
  background-image: url("404_background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#text {
  height: 95vh;
  width: 100vw;
  position: absolute;
  z-index: 20;
  color: white;
  font-weight: bold;
  font-size: 12vh;
  text-align: center;
}

#shrine {
  position: absolute;
  width: 11vw;
  height: 33vh;
  z-index: 10;
  bottom: 22vh;
  left: 44vw;
  text-align: center;
  font-weight: bold;
  font-size: 6vh;
  padding: 2vh;
}

#man {
  height: 75vh;
  width: 60vw;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 10;
}
