:root {
  --lazer-bunny-color: #808080;
  --lazer-bunny-lighter-color: color-mix(
    in srgb,
    var(--lazer-bunny-color),
    white 30%
  );
  --lazer-bunny-darker-color: color-mix(
    in srgb,
    var(--lazer-bunny-color),
    black 30%
  );
  --lazer-bunny-darkest-color: color-mix(
    in srgb,
    var(--lazer-bunny-color),
    black 40%
  );
}

#header {
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
}

.neighborhood > :not([id]) {
  background-color: yellow;
  padding: 5px;
  margin: 5px;
}

.neighbor-title {
  font-size: 1.5em;
  font-weight: bold;
  margin: 2px;
  /* Ignore the linter error. Available across most browsers. https://caniuse.com/css-variables */
  border: 2px solid var(--lazer-bunny-darker-color);
}

#lazer-bunny {
  padding: 10px;
  background: repeating-conic-gradient(
      var(--lazer-bunny-color) 0 25%,
      var(--lazer-bunny-lighter-color) 0 50%
    )
    50% / 20px 20px;
  /* Ignore the linter error. " */
  border: 5px solid var(--lazer-bunny-darker-color);
  border-radius: 12px;
}

#lazer-bunny .neighbor-title {
  color: white;
  /* Ignore the linter error. " */
  background-color: var(--lazer-bunny-color);
  padding: 12px;
  border-radius: 10px;
}

#lazer-bunny .layout {
  display: flex;
  gap: 20px;
}

#lazer-bunny .info {
  margin: 10px;
  padding-bottom: 10px;
  /* Ignore the linter error. " */
  border: 2px solid var(--lazer-bunny-darker-color);
  border-radius: 8px;
}

#lazer-bunny .info-title {
  font-size: 1.2em;
  font-weight: bold;
  padding: 12px;
  margin-bottom: 5px;
  /* Ignore the linter error. " */
  background-color: var(--lazer-bunny-darker-color);
  color: black;
}

#lazer-bunny .info-title a {
  color: white;
  text-decoration: none;
}
