---
title: Highway Interchanges
layout: layouts/note.html
stylesheets:
  - index.css
  - roadways.css
todo:
  - 11ty-driven template creation of HTML and CSS
  - Remember to include "lil-old-lady" as a possible class for the traffic generator
---

<div class="box">
  This page was inspired by the
  <a href="https://en.wikipedia.org/wiki/Interchange_(road)" target="_blank"
    >Interchange (road)</a
  >
  wikipedia page.
</div>

<svg id="global-garage" style="display: none">
  <defs>
    {% for type, path in vehicles %}
    <path id="v-{{ type }}" d="{{ path }}" />
    {% endfor %}
  </defs>
</svg>

<!-- TODO Figure out ecosystem vs .box.interchange-display -->
<div class="ecosystem-grid">
  {% for key, interchange in interchanges %} {% set roadways =
  interchange.roadways %} {% set traffic = interchange.traffic %}
  <div class="box interchange-display">
    <div class="name">{{ interchange.name }}</div>
    {% include "_interchange.njk" %} {% for name, stat in interchange.stats %}
    <div class="stat">
      <div class="name">{{ name }}</div>
      <div class="value">{{ stat }}</div>
    </div>
    {% endfor %}
  </div>
  {% endfor %}
</div>

<script>
  // Simple Intersection Observer to pause off-screen animations
  const observer = new IntersectionObserver(
    (entries) => {
      entries.forEach((entry) => {
        entry.target.classList.toggle("paused", !entry.isIntersecting);
      });
    },
    { threshold: 0.1 },
  );

  document
    .querySelectorAll(".interchange")
    .forEach((interchange) => observer.observe(interchange));
</script>

<div id="lack-of-public-transit" class="box">
  <div class="title">Wait? Where are the buses? No light rail?</div>
  Like most small towns, this country road does not have public transit. This is
  a huge accessibility problem.
  <span class="aside"
    >In fact, you might just notice some
    <span class="hint lil-old-lady">little old ladies</span> dangerously driving
    around this page with their glaucoma.</span
  >
  If this bums you out, check out <a href="../_urbanism">my urbanism shrine</a>.
</div>
