/* Global Road Styles */
.road-base { fill: none; stroke-linecap: round; }
.type-asphalt { stroke: #444; }
.type-concrete { stroke: #999; }

.route {
  display: none;
  /* stroke: red;
  stroke-width: 5;
  fill: none; */
}

/* TODO Get length dynamically from vehicles.json path coordinates */
.sedan {
 x: -40;
}

.truck {
  x: -60;
}

.tractor {
  x: -30;
}
