#back-button {
  margin: 10px;
}

#header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.neighborhood {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}

/* All neighbors ============================================================ */
.neighbor-title {
  font-size: 1.5em;
  font-weight: bold;
  margin: 2px;
  /* Ignore the linter error. Available across most browsers. https://caniuse.com/css-variables */
  background-color: white;
  padding: 4px;
  border-radius: 5px;
}

/* Neighbors under construction ============================================= */
.neighborhood > div {
  background-color: yellow;
  padding: 5px;
  min-height: 300px;
  border: 5px solid black;
  border-radius: 10px;
}
