<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>
    <link href="/style.css" rel="stylesheet" type="text/css" media="all" />
    {% for stylesheet in stylesheets %}
    <link
      href="{{ stylesheet }}"
      rel="stylesheet"
      type="text/css"
      media="all"
    />
    {% endfor %} {% for script in scripts %}
    <script src="{{ script }}" defer></script>
    {% endfor %}
  </head>
  <body>
    {% if page.url != "/" %}
    <header>
      <nav>
        <a href="/">← Back to home page</a>
      </nav>
    </header>
    {% endif %}
    {{ content | safe }}
  </body>
</html>
