<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }} (WIP)</title>
    <link href="/note.css" rel="stylesheet" type="text/css" media="all" />
    <link rel="stylesheet" href="{% getBundleFileUrl 'css' %}" />
    <!-- TODO Make this layout inherit base.html so you don't duplicate stuff like this -->
    {% for stylesheet in stylesheets %}
    <link
      href="{{ stylesheet }}"
      rel="stylesheet"
      type="text/css"
      media="all"
    />
    {% endfor %}
    <script src="{% getBundleFileUrl 'js' %}" defer></script>
    {% for script in scripts %}
    <script src="{{ script }}" defer></script>
    {% endfor %}
  </head>
  <body>
    {% if page.url != "/" %}
    <header>
      <nav>
        <a href="/">← Back to home page</a>
      </nav>
    </header>
    {% endif %}
    <h1 class="sheet-title">{{ title }}</h1>
    <img
      id="wip-tag"
      class="icon"
      src="/_img/work-in-progress.png"
      alt="This page is a work in progress"
    />
    <div class="about-notes">
      <h3>What am I looking at?</h3>
      This page represents notes for a work in progress. Instead of keeping
      ideas to myself, I like to document them on my website so that I can
      immediately begin working on the components involved in the work.
    </div>
    {% if todo.length > 0 %}
    <div id="to-do" class="blue box">
      <h3 class="title">To Do</h3>
      <ul>
        {% for item in todo %}
        <li>{{ item }}</li>
        {% endfor %}
      </ul>
    </div>
    {% endif %} {% if avoid.length > 0 %}
    <div id="avoid" class="red box">
      <h3 class="title">Avoid</h3>
      <ul>
        {% for item in avoid %}
        <li>{{ item }}</li>
        {% endfor %}
      </ul>
    </div>
    {% endif %} {{ content | safe }}
  </body>
</html>
