@font-face {
  font-family: "Vividly-Regular";
  src: url("/_fonts/Vividly-Regular.otf") format("opentype");
}

body {
  background-color: white;
  color: black;
  font-family: Verdana;
}

#web-button-gallery {
  display: flex;
  gap: 4px;
  padding: 4px;
  border: 1px solid black;
  margin: 4px;
}

#web-button-gallery a {
  text-decoration: none;
  transition: transform 0.2s;
}

#web-button-gallery a:hover {
  transform: scale(1.3) rotate(-1deg);
}

#web-button-gallery a:hover:nth-of-type(even) {
  transform: scale(1.3) rotate(1deg);
}

.draft-88x31 {
  font-family: "Vividly-Regular";
  font-size: 18px;
  font-weight: bold;
  width: 88px;
  height: 31px;
  box-shadow: 1px 1px 3px rgba(33, 33, 33, 0.7);
  overflow: hidden;
  background: #ffc;
  text-align: center;
  justify-content: center;
  text-decoration: none;
  display: flex;
  align-items: center;
}
