:root {
  --minion-yellow: #fce029;
  --minion-blue: #0a75bc;
  --minion-eye-color: #74472a;
  --minion-black: #231f20;
  --minion-white: #fefefe;
  --minion-tongue: #b55050;
  --minion-brown: #a87a51;
  --minion-gray: #949699;
}

.tribe {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 20px;
  align-items: flex-end;
}

.minion {
  background-color: var(--minion-yellow);
  border-bottom: 100px solid var(--minion-blue);
  border-radius: 20px;
  padding: 60px 40px 0;
  min-width: 200px;
  max-width: 550px;
  height: 100%;
}

.minion .goggles {
  display: flex;
  background-color: var(--minion-black);
  margin: 4px -40px;
  padding: 8px 20px;
  border-radius: 4px;
  color: var(--minion-white);
}

.minion .eye.left {
  transform: translate(-20px, 0);
}

.minion .eye.right {
  transform: translate(20px, 0);
}

.minion .minion-eyes {
  transform: scale(1.5);
}

.minion .eye-lid {
  fill: var(--minion-yellow);
}

.minion .eye-white {
  fill: var(--minion-white);
}

.minion .eye-color {
  fill: var(--minion-eye-color);
}

.minion .visible-area {
  transition: ry 0.15s ease-in-out;
  ry: 15;
}

.minion .eye.closed .visible-area {
  ry: 0.1;
}

.minion .eye-frame {
  fill-opacity: 0;
  stroke: var(--minion-gray);
  stroke-width: 5px;
}

.minion .goggles .title {
  font-size: 32px;
}

.minion .torso {
  padding: 4px 30px;
  max-height: 200px;
  overflow-y: auto;
  scrollbar-color: white var(--minion-blue);
  border-left: 17px solid var(--minion-blue);
}

/* .kevin {

}

.stuart {

}

.bob {

} */

.minion .note,
#devtools .about {
  color: var(--minion-gray);
  font-size: 12px;
}

#devtools .controls {
  margin: 20px 0;
}

#devtools .controls .title {
  color: var(--minion-black);
  font-weight: bold;
  font-size: 16px;
  text-decoration: underline;
  text-underline-offset: 4px;
  margin-bottom: 10px;
}

#devtools .controls .console {
  display: flex;
  gap: 16px;
}

#devtools .controls button {
  padding: 8px 16px;
  border-radius: 8px;
  background-color: var(--minion-gray);
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
  color: var(--minion-white);
  letter-spacing: 2px;
  box-shadow: color-mix(in srgb, var(--minion-gray), black 10%) 4px 4px 0 0;
  border: 1px solid var(--minion-gray);
}

#devtools .controls button:active {
  box-shadow: color-mix(in srgb, var(--minion-gray), var(--minion-blue)) 2px 2px
    0 0;
  transform: translate(2px, 2px);
  background-color: color-mix(in srgb, var(--minion-gray), var(--minion-blue));
}
